/* .nextTour{
    background-image: url('https://img.icons8.com/plasticine/70/000000/circled-chevron-up.png');
    background-color: none;
}

.hotspot_info{
    background-image: url('../images/icons/icons8-info-64.png');
    background-color: none;
}

.hotspot .in{
    background-color: none!important;
    width: 0!important;
    height: 0!important;
}

.hotspot .out{
    border: none!important;
} */